<!DOCTYPE html>
<html>
    <head>
        <title>我要报名</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
        <link rel="stylesheet" href="./css/common.css">
        <link rel="stylesheet" href="./css/freetastedetail.css">
        <script type='text/javascript' src='./js/lib/config.js'></script>
        <script type='text/javascript' data-main='./js/activitydetail.js' src='./js/lib/require.min.js'></script>
    </head>
    <body>
        <div id='j_main' class='freetastedetail'>
            <div class='t'>
                <img v-bind:src="data.img">
                <p>{{data.title}}</p>
            </div>
            <div class='info' id='j_tab1'>
                <h3>{{data.title}}</h3>
                <h4>{{data.stime}}-{{data.etime}}</h4>
                <p>{{data.desc}}</p>
            </div>
            <div class="fill" id='j_tab2'>
                <ul>
                    <li><span>姓名</span><input type="text" v-model='name'/><em>*</em></li>
                    <li><span>手机号码</span><input type="text" v-model='tel'><em>*</em></li>
                    <li><span>活动日期</span><input id='j_date' type="date" v-model='date'><em>*</em></li>
                    <li><span>申请份数</span><i class='add' @click='add'></i><input class='s' type="num" v-model='num'><i class='reduce' @click='reduce'></i></li>
                </ul>
            </div>
            <div class="b">
                <span @click='bookByType'>{{msg}}</span>
                <span @click='returnByType'>返&nbsp;&nbsp;&nbsp;&nbsp;回</span>
            </div>
        </div>
    </body>
</html>