<!DOCTYPE html>
<html>
    <head>
        <title>我要充值</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
        <link rel="stylesheet" href="./css/common.css">
        <link rel="stylesheet" href="./css/charge.css">
        <script type='text/javascript' src='./js/lib/config.js'></script>
        <script type='text/javascript' data-main='./js/charge.js' src='./js/lib/require.min.js'></script>
    </head>
    <body>
        <div id='j_main' class='charge'>

            <div class='bb'>
                <div class='div'>请输入君禾账号:<input type='text' v-model='id'/></div>
            </div>
            <div class='con'>
                <div class='div'>充值金额：<input type='text' v-model='num' @input='inputNum'/></div>
                <ul>
                    <li @click='choose'>380元</li>
                    <li @click='choose'>800元</li>
                    <li @click='choose'>2600元</li>
                    <li @click='choose'>4800元</li>
                    <li @click='choose'>9600元</li>
                </ul>
            </div>
            <div class='tb bb div'>充值金额:<em>{{numdesc}}</em></div>
            <div class='div div2'>请输入您的手机号：<input type='text' v-model='tel'/></div>
            <div class='div'>手机验证码：<input type='text' v-model='code'/></div>
            <button @click='submit'>立即充值</button>
        </div>
    </body>
</html>